# DSCI 320 KBN Data Cleaning

## Initial Dataset
- The `.csv` file from the website provided is more difficult to parse, so the `.xlsx` file that is also provided is used.
- `TREE_ID`, `CIVIC_NUMBER`, `ON_STREET_BLOCK`, and `HEIGHT_RANGE_ID` are all treated as integers, `DIAMETER` is treated as a float, and the rest are treated as objects.
- `CULTIVAR_NAME`, `NEIGHBOURHOOD_NAME`, and `DATE_PLANTED` are columns that have missing values.
- `public_trees.nunique()` displays the number of unique values for each column. Notably, there is a discrepancy between the number of unique values for `HEIGHT_RANGE_ID` and the number of unique values for `HEIGHT_RANGE`. Since `GENUS_NAME` and `SPECIES_NAME`, along with `ON_STREET` and `ON_STREET_BLOCK`, are related to each other, the number of unique values may be more accurate if they are combined.
- `public_trees.describe()` is used to further display that `TREE_ID`, `CIVIC_NUMBER`, `ON_STREET_BLOCK`, `HEIGHT_RANGE_ID` and `DIAMETER` are all treated as numeric, when only `HEIGHT_RANGE_ID` and `DIAMETER` could be numeric, along with the latitude and longitude from `geo_point_2d`.

In [1]:
import pandas as pd
public_trees = pd.read_excel("../data/raw/public-trees.xlsx")
public_trees.to_csv("../data/raw/public-trees.csv", index=False)
public_trees.head()

,TREE_ID,CIVIC_NUMBER,STD_STREET,GENUS_NAME,SPECIES_NAME,CULTIVAR_NAME,COMMON_NAME,ON_STREET_BLOCK,ON_STREET,NEIGHBOURHOOD_NAME,STREET_SIDE_NAME,HEIGHT_RANGE_ID,HEIGHT_RANGE,DIAMETER,DATE_PLANTED,Geom,geo_point_2d
0,68600,5801,COLUMBIA ST,FRAXINUS,PENNSYLVANICA,NaN,GREEN ASH,5800,COLUMBIA ST,OAKRIDGE,ODD,4,40-50,14.0,NaN,"{""coordinates"":[-123.1108790006131,49.23188599...","49.2318859989257, -123.1108790006131"
1,68602,5801,COLUMBIA ST,FRAXINUS,PENNSYLVANICA,NaN,GREEN ASH,5800,COLUMBIA ST,OAKRIDGE,ODD,4,40-50,13.0,NaN,"{""coordinates"":[-123.11086799941732,49.2321829...","49.23218299864167, -123.11086799941732"
2,68625,7520,COLUMBIA ST,ACER,RUBRUM,NaN,RED MAPLE,7500,COLUMBIA ST,MARPOLE,EVEN,4,40-50,19.0,1990-03-06,"{""coordinates"":[-123.11252099940711,49.2164559...","49.21645599928832, -123.11252099940711"
3,68628,7580,COLUMBIA ST,ACER,RUBRUM,NaN,RED MAPLE,7500,COLUMBIA ST,MARPOLE,EVEN,2,20-30,10.5,1990-03-06,"{""coordinates"":[-123.1125259998752,49.21626399...","49.21626399915695, -123.1125259998752"
4,68629,7580,COLUMBIA ST,ACER,RUBRUM,NaN,RED MAPLE,7500,COLUMBIA ST,MARPOLE,EVEN,4,40-50,14.0,1990-03-06,"{""coordinates"":[-123.11252799950525,49.2161969...","49.216196999461125, -123.11252799950525"

In [2]:
display(public_trees.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181476 entries, 0 to 181475
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TREE_ID             181476 non-null  int64
 1   CIVIC_NUMBER        181476 non-null  int64
 2   STD_STREET          181476 non-null  object
 3   GENUS_NAME          181476 non-null  object
 4   SPECIES_NAME        181476 non-null  object
 5   CULTIVAR_NAME       80711 non-null   object
 6   COMMON_NAME         181476 non-null  object
 7   ON_STREET_BLOCK     181476 non-null  int64
 8   ON_STREET           181476 non-null  object
 9   NEIGHBOURHOOD_NAME  177548 non-null  object
 10  STREET_SIDE_NAME    181476 non-null  object
 11  HEIGHT_RANGE_ID     181476 non-null  int64
 12  HEIGHT_RANGE        181476 non-null  object
 13  DIAMETER            181476 non-null  float64
 14  DATE_PLANTED        74168 non-null   object
 15  Geom                181476 non-null  object
 16  geo_point_2d        181476 non-null  object
dtypes: float64(1), int64(4), object(12)
memory usage: 23.5+ MB

None

In [3]:
cols_with_nan = public_trees.columns[public_trees.isna().any()].tolist()
display(cols_with_nan)

['CULTIVAR_NAME', 'NEIGHBOURHOOD_NAME', 'DATE_PLANTED']

In [4]:
display(public_trees.nunique())

TREE_ID               181476
CIVIC_NUMBER            8338
STD_STREET               814
GENUS_NAME               169
SPECIES_NAME             539
CULTIVAR_NAME            607
COMMON_NAME             1297
ON_STREET_BLOCK          189
ON_STREET                822
NEIGHBOURHOOD_NAME        22
STREET_SIDE_NAME           6
HEIGHT_RANGE_ID           11
HEIGHT_RANGE               9
DIAMETER                 490
DATE_PLANTED            4570
Geom                  181348
geo_point_2d          181348
dtype: int64

In [5]:
display(public_trees.describe())

,TREE_ID,CIVIC_NUMBER,ON_STREET_BLOCK,HEIGHT_RANGE_ID,DIAMETER
count,181476.000000,181476.000000,181476.000000,181476.000000,181476.000000
mean,176057.213202,3094.623261,3068.267694,2.965318,12.734677
std,103368.726047,2125.583344,2132.730391,1.943227,10.201485
min,12.000000,0.000000,0.000000,0.000000,0.000000
25%,86436.750000,1396.000000,1400.000000,1.000000,4.000000
50%,175642.500000,2733.000000,2700.000000,2.000000,10.000000
75%,264533.250000,4489.000000,4500.000000,4.000000,18.000000
max,344710.000000,9295.000000,9900.000000,10.000000,305.000000

## Cleaning
- `HEIGHT_RANGE` is set to be an ordinal attribute, with the order provided in `priority_order`.
- `TREE_ID`, `CIVIC_NUMBER`, and `ON_STREET_BLOCK` are set to be categorical attributes.
- Earlier EDA provided `CULTIVAR_NAME`, `NEIGHBOURHOOD_NAME`, `DATE_PLANTED` as having NA values; `CULTIVAR_NAME` is filled with the corresponding `SPECIES_NAME`, `NEIGHBOURHOOD_NAME` has `NA` strings applied instead, and `DATE_PLANTED` is left with `None`.
- The latitude and longitude values were initially joined together in a single coordinate column `geo_point_2d`, and thus are split into new columns `LATITUDE` and `LONGITUDE`.
- The values `9`, `0` and `10` all correspond to `HEIGHT_RANGE == '>90'` and thus `0` and `10` are replaced with value `9`.
- `NOMENCLATURE` is a column derived from combining `GENUS_NAME` and `SPECIES_NAME` into 1 string.
- `ON_ADDRESS` is a column derived from combining `ON_STREET` and `ON_STREET_BLOCK` into 1 string.
- Due to being redundant and difficult to use, `Geom` and `geo_point_2d` are dropped.

In [6]:
public_trees_cleaned = public_trees.copy()

In [7]:
priority_order = ['10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '>90']
public_trees_cleaned['HEIGHT_RANGE'] = pd.Categorical(public_trees_cleaned['HEIGHT_RANGE'], categories=priority_order, ordered=True)

In [8]:
public_trees_cleaned[['TREE_ID', 'CIVIC_NUMBER', 'ON_STREET_BLOCK']] = public_trees_cleaned[['TREE_ID', 'CIVIC_NUMBER', 'ON_STREET_BLOCK']].astype(str)

In [9]:
public_trees_cleaned['CULTIVAR_NAME'] = public_trees_cleaned['CULTIVAR_NAME'].fillna(public_trees_cleaned['SPECIES_NAME'])
public_trees_cleaned['NEIGHBOURHOOD_NAME'] = public_trees_cleaned['NEIGHBOURHOOD_NAME'].fillna('')
public_trees_cleaned['DATE_PLANTED'] = public_trees_cleaned['DATE_PLANTED'].fillna('')

In [10]:
public_trees_cleaned[['LATITUDE', 'LONGITUDE']] = public_trees_cleaned['geo_point_2d'].str.split(', ', expand=True)
public_trees_cleaned['LATITUDE'] = public_trees_cleaned['LATITUDE'].astype(float)
public_trees_cleaned['LONGITUDE'] = public_trees_cleaned['LONGITUDE'].astype(float)

In [11]:
public_trees_cleaned['HEIGHT_RANGE_ID'] = public_trees_cleaned['HEIGHT_RANGE_ID'].replace([0, 10], 9)

In [12]:
public_trees_cleaned['NOMENCLATURE'] = public_trees_cleaned['GENUS_NAME'] + " " + public_trees_cleaned['SPECIES_NAME']

In [13]:
public_trees_cleaned['ON_ADDRESS'] = public_trees_cleaned['ON_STREET_BLOCK'] + " " + public_trees_cleaned['ON_STREET'] + " " + public_trees_cleaned['NEIGHBOURHOOD_NAME'] + " (" + public_trees_cleaned['STREET_SIDE_NAME'] + ")"

In [14]:
public_trees_cleaned = public_trees_cleaned.drop(columns=['Geom', 'geo_point_2d'])

## Processed Data
- Upon loading `public_trees_cleaned.csv` in the future, remember to set the attribute types for `HEIGHT_RANGE`, `TREE_ID`, `CIVIC_NUMBER`, and `ON_STREET_BLOCK`.

In [15]:
display(public_trees_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181476 entries, 0 to 181475
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TREE_ID             181476 non-null  object
 1   CIVIC_NUMBER        181476 non-null  object
 2   STD_STREET          181476 non-null  object
 3   GENUS_NAME          181476 non-null  object
 4   SPECIES_NAME        181476 non-null  object
 5   CULTIVAR_NAME       181476 non-null  object
 6   COMMON_NAME         181476 non-null  object
 7   ON_STREET_BLOCK     181476 non-null  object
 8   ON_STREET           181476 non-null  object
 9   NEIGHBOURHOOD_NAME  181476 non-null  object
 10  STREET_SIDE_NAME    181476 non-null  object
 11  HEIGHT_RANGE_ID     181476 non-null  int64
 12  HEIGHT_RANGE        181476 non-null  category
 13  DIAMETER            181476 non-null  float64
 14  DATE_PLANTED        181476 non-null  object
 15  LATITUDE            181476 non-null  float64
 16  LONGITUDE           181476 non-null  float64
 17  NOMENCLATURE        181476 non-null  object
 18  ON_ADDRESS          181476 non-null  object
dtypes: category(1), float64(3), int64(1), object(14)
memory usage: 25.1+ MB

None

In [16]:
display(public_trees_cleaned.nunique())

TREE_ID               181476
CIVIC_NUMBER            8338
STD_STREET               814
GENUS_NAME               169
SPECIES_NAME             539
CULTIVAR_NAME           1070
COMMON_NAME             1297
ON_STREET_BLOCK          189
ON_STREET                822
NEIGHBOURHOOD_NAME        23
STREET_SIDE_NAME           6
HEIGHT_RANGE_ID            9
HEIGHT_RANGE               9
DIAMETER                 490
DATE_PLANTED            4571
LATITUDE              181344
LONGITUDE             181343
NOMENCLATURE             701
ON_ADDRESS             19267
dtype: int64

In [17]:
display(public_trees_cleaned.describe())

       HEIGHT_RANGE_ID       DIAMETER       LATITUDE      LONGITUDE
count    181476.000000  181476.000000  181476.000000  181476.000000
mean          2.997498      12.734677      49.248839    -123.107691
std           1.939775      10.201485       0.022868       0.048920
min           1.000000       0.000000      49.200203    -123.236684
25%           1.000000       4.000000      49.230406    -123.144383
50%           2.000000      10.000000      49.248473    -123.109573
75%           4.000000      18.000000      49.266611    -123.064573
max           9.000000     305.000000      49.312730    -123.023294

In [18]:
public_trees_cleaned.to_csv("../data/processed/public_trees_cleaned.csv", index=False)