# Kaylee Li

## Research question/interests

Briefly describe your research question or interests here.

In [21]:
import sys
sys.path.append("../../code")

In [22]:
import kli_query_family
import pandas as pd

### Getting respective Family

In [19]:
raw_df = pd.read_csv("../../data/raw/public-trees.csv")

In [27]:
genus_to_family_dict = kli_query_family.get_genus_to_family_mapping(raw_df)

In [29]:
df_with_family = kli_query_family.add_family_column(raw_df, genus_to_family_dict)

In [30]:
df_with_family.head()

,TREE_ID,CIVIC_NUMBER,STD_STREET,GENUS_NAME,SPECIES_NAME,CULTIVAR_NAME,COMMON_NAME,ON_STREET_BLOCK,ON_STREET,NEIGHBOURHOOD_NAME,STREET_SIDE_NAME,HEIGHT_RANGE_ID,HEIGHT_RANGE,DIAMETER,DATE_PLANTED,Geom,geo_point_2d,FAMILY_NAME
0,68600,5801,COLUMBIA ST,FRAXINUS,PENNSYLVANICA,NaN,GREEN ASH,5800,COLUMBIA ST,OAKRIDGE,ODD,4,40-50,14.0,NaN,"{""coordinates"":[-123.1108790006131,49.23188599...","49.2318859989257, -123.1108790006131",OLEACEAE
1,68602,5801,COLUMBIA ST,FRAXINUS,PENNSYLVANICA,NaN,GREEN ASH,5800,COLUMBIA ST,OAKRIDGE,ODD,4,40-50,13.0,NaN,"{""coordinates"":[-123.11086799941732,49.2321829...","49.23218299864167, -123.11086799941732",OLEACEAE
2,68625,7520,COLUMBIA ST,ACER,RUBRUM,NaN,RED MAPLE,7500,COLUMBIA ST,MARPOLE,EVEN,4,40-50,19.0,1990-03-06,"{""coordinates"":[-123.11252099940711,49.2164559...","49.21645599928832, -123.11252099940711",SAPINDACEAE
3,68628,7580,COLUMBIA ST,ACER,RUBRUM,NaN,RED MAPLE,7500,COLUMBIA ST,MARPOLE,EVEN,2,20-30,10.5,1990-03-06,"{""coordinates"":[-123.1125259998752,49.21626399...","49.21626399915695, -123.1125259998752",SAPINDACEAE
4,68629,7580,COLUMBIA ST,ACER,RUBRUM,NaN,RED MAPLE,7500,COLUMBIA ST,MARPOLE,EVEN,4,40-50,14.0,1990-03-06,"{""coordinates"":[-123.11252799950525,49.2161969...","49.216196999461125, -123.11252799950525",SAPINDACEAE

In [31]:
df_with_family.to_csv("../../data/processed/public-trees-with-family.csv")